body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.top-nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #272131;
  color: #fff;
  padding: 2px 0;
  font-size: 12px;
}

.top-nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}

.top-link {
  margin: 0 8px;
  color: #fff;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #fff;
  position: fixed;
  top: 38px;
  width: 100vw;
}

.brand {
  padding-left: 8rem;
  font-size: 2rem;
  color: #ec5242;
}

.main-nav-menu {
  background-color: #fff;
  padding-right: 28px;
}

.nav-link {
  text-decoration: none;
  color: #272131;
  margin-left: 4rem;
  font-size: 1rem;
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.active-link {
  color: #ec5242;
}

.register {
  border: 2px solid #ec5242;
  color: #ec5242;
  padding: 6px 12px;
}

/* mobile menu style */
#mobile-container {
  padding-right: 4em;
}

#hamburger-icon {
  display: none;
  margin: auto;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: #333;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.mobile-menu {
  display: none;
}

.open {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -24px;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  transition: 0.5s ease-in-out;
}

.open > li {
  padding-top: 38px;
  margin-left: -75px;
}

.close-nav {
  display: none;
}

.active,
.nav-link:hover {
  color: #ec5242;
}

.main {
  position: relative;
  width: 100vw;
  z-index: -1;
}

.top-section {
  padding: 8rem;
  /* background-color: #f1ecec; */
  background-image: url('https://i.postimg.cc/C1W3dxdK/main-big.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.summit-qoute {
  font-size: 2rem;
  line-height: 8px;
  color: #ec5242;
}

.summit-title {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: #ec5242;
  line-height: 80px;
  max-width: 80%;
  animation: fadeIn 0.4s ease-in-out;
}

.summit-intro {
  font-size: 1rem;
  max-width: 50%;
  padding-left: 26px;
  transform: translateY(300px);
  opacity: 0;
  animation: fadeIn 0.4s ease-in-out 0.5s forwards;
}

.summit-date {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 2rem;
  line-height: 18px;
  transform: translateY(300px);
  opacity: 0;
  animation: fadeIn 0.4s ease-in-out 1s forwards;
}

.summit-venue {
  font-size: 1.4rem;
  color: #474545;
  line-height: 8px;
  transform: translateY(300px);
  opacity: 0;
  animation: fadeIn 0.4s ease-in-out 1.5s forwards;
}

.main-program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272131;
  padding-top: 5rem;
}

.section-title {
  font-size: 2rem;
  color: #fff;
}

hr {
  width: 48px;
  border-color: #ec5242;
  margin-top: -24px;
}

.program-card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 38px 68px;
}

.program-card {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  justify-items: center;
  padding: 16px;
  margin: 0 8px;
  background-color: #383b42;
}

.program-card:hover {
  border: 1px solid #fff;
}

.card-title {
  font-size: 1rem;
  color: #ec5242;
}

.program-card > p {
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  margin-top: -14px;
}

.see-more {
  padding: 38px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #d3d3d3;
  font-weight: 600;
  letter-spacing: 3px;
}

.join-summit {
  display: none;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 23px;
  margin-bottom: 38px;
  color: #fff;
  background-color: #ff4f34;
  border: none;
}

.feature-title {
  color: #383b42;
  text-align: center;
}

/* speakers section style */
.speakers-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.more-speakers {
  display: none;
  width: 80%;
  border: 1px solid #474545;
  background-color: #fff;
  color: #474545;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 28px;
  margin-bottom: 56px;
}

.more-speakers > span {
  color: #ec5242;
  padding-left: 12px;
}

.grid-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-gap: 30px;
  padding: 4rem 10rem;
}

.speaker-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.speaker-picture {
  margin-right: 18px;
  width: auto;
  height: auto;
}

.speaker-name {
  font-size: 1.2rem;
  font-weight: 700;
}

.speaker-title {
  margin-top: -20px;
  font-size: 0.85rem;
  font-weight: 400;
  font-style: italic;
  color: #ec5242;
}

.speaker-bio {
  font-size: 0.8rem;
  font-weight: 300;
}

/* parners section style */
.partners-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #474543;
  padding-bottom: 4rem;
}

.partners-logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  gap: 24px;
  padding: 2rem 5rem;
}

.logo-img {
  width: 70%;
  height: 50px;
}

.about-partners {
  display: none;
}

.footer-section {
  background-color: #fff;
}

.footer-text {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  padding: 3rem;
  color: #272131;
}

/* about page style */
.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 7%;
  text-align: center;
}

.about-text {
  box-shadow: 4px -3px 5px 0 #787878;
  -webkit-box-shadow: 4px -3px 5px 0 #787878;
  -moz-box-shadow: 4px -3px 5px 0 #787878;
  padding: 3rem 0;
  max-width: 95vh;
}

.about-text > p {
  font-size: 1rem;
  margin-top: -6px;
  line-height: 28px;
}

.alumni-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5rem;
}

.alumni-sec {
  color: #272131;
  padding-top: 3rem;
}

.alumni-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.alumni-pic > img {
  border-radius: 50%;
  box-shadow: 7px -8px 5px 0 #a94135;
  -webkit-box-shadow: 7px -8px 5px 0 #a94135;
  -moz-box-shadow: 7px -8px 5px 0 #a94135;
}

.alumni-info {
  line-height: 22px;
  font-weight: 300;
  color: #6b6b6b;
}

.alumni-profile {
  font-size: 1.2rem;
  font-weight: 600;
  color: #a94135;
}

.past-summit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.past-summit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.past-summit-title {
  font-size: 1.8rem;
  text-align: center;
}

.past-summit-intro {
  margin-top: -18px;
  padding-bottom: 32px;
  text-align: center;
}

.year {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin-top: -118px;
}

.summit-card-text {
  font-weight: 300;
  margin-top: -34px;
  color: #fff;
}

.summit-card > img {
  width: 400px;
  height: 200px;
}

.summit-card {
  margin-left: 26px;
  text-align: center;
}

.overlay {
  position: relative;
  margin-top: -158px;
  width: 400px;
  height: 200px;
  background: black;
  opacity: 0.2;
}

.about-footer {
  background-color: #272131;
  color: #fff;
  padding-bottom: 3rem;
  text-align: center;
  padding-top: 54px;
}

@media (max-width: 894px) {
  .header {
    position: fixed;
    top: 0;
    height: 8%;
    width: 100%;
    background-color: #fff;
  }

  #hamburger-icon {
    display: block;
    padding: 14px 28px;
  }

  .top-nav,
  .main-nav {
    display: none;
  }

  .top-section {
    padding: 2.5rem;
  }

  .summit-qoute {
    line-height: normal;
  }

  .summit-venue {
    line-height: normal;
  }

  .summit-title {
    font-size: 2.6rem;
    max-width: 90%;
  }

  .summit-intro {
    font-size: 1.5rem;
    max-width: 90%;
  }

  .summit-date {
    line-height: normal;
  }

  .program-card-list {
    flex-direction: column;
    width: 90%;
  }

  .program-card {
    width: 90%;
    grid-template-columns: 15% 15% 50%;
    column-gap: 10%;
    grid-template-rows: auto;
    align-items: center;
    justify-items: left;
    margin: 8px;
  }

  .program-card > p {
    text-align: left;
    margin: 0;
  } 

  .see-more {
    display: none;
  }

  .join-summit {
    display: block;
  }

  .grid-column {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }

  .speaker-name {
    font-size: 2rem;
  }

  .speaker-title {
    font-size: 1.5rem;
  }

  .speaker-bio {
    font-size: 1.2rem;
  }

  .more-speakers {
    display: block;
  }

  #s125,
  #s126,
  #s127,
  #s128 {
    display: none;
  }

  .partners-section {
    display: none;
  }
  .partners-logo {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-section {
    display: none;
  }

  .footer-text {
    font-size: 1.2rem;
  }

  .about-footer {
    display: block;
    background-color: #fff;
    color: #272131;
  }

  .about-partners {
    display: block;
    text-align: center;
    padding-top: 24px;
  }

  .past-summit-container {
    flex-direction: column;
  }

  .summit-card {
    margin: 5%;
  }

  .alumni-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 28px;
  }

  .alumni-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
